BOT_TOKEN=123456:PUT_YOUR_TELEGRAM_BOT_TOKEN_HERE
ADMIN_ID=768223541
# Доп. админы через запятую
ADMIN_IDS=
CHANNEL_ID=@your_channel
CHECK_MODE=syntax
UPDATE_INTERVAL=30
PUBLIC_URL=https://yourdomain.com
PORT=8080
GITHUB_TOKEN=ghp_xxx
GITHUB_REPO=xznexil3/crs-support-bot
GITHUB_BRANCH=main
GITHUB_SUB_PATH=
